<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Change password</title>
</head>

<body>

    <div class="form-container">
        <form method="post" action="/create_password">
            <h2>Set password</h2>

            <br>

            <div class="input-container">
                <input type="password" id="password" name="password" placeholder="Insert password" required>
            </div>

            <div class="input-container">
                <input type="password" id="passwordrepeat" name="passwordrepeat" placeholder="Insert password again" required>
            </div>
            
            <button type="submit" id="submit_button">Set password</button>

        </form>
    </div>
</body>
</html>
