<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Logg inn</title>
</head>

<body>

    <div class="form-container">
        <form method="post" action="/">
            <h2>Login</h2>

            <br>

            <div class="input-container">
                <input type="text" id="username" name="username" placeholder="Insert username" required>
                <p class="error_username"><%= typeof message_username !== 'undefined' ? message_username : "" %></p>
            </div>

            <div class="input-container">
                <input type="password" id="password" name="password" placeholder="Insert password" required>
                <p class="error_password"><%= typeof message_password !== 'undefined' ? message_password : "" %></p>
                <br>
            </div>
            
            <button type="submit" id="submit_button">Login</button>

            <br><br>

            <p class="error"><%= typeof message !== 'undefined' ? message : "" %></p>
        </form>
    </div>
</body>
</html>
